extend layout.pug


block body
  if loginUser
    div.my-3
      h3.text-center.my-2 发布帖子
      form(action="/post", method="post")
        .input-group.mb-3
          label.input-group-text(for="postTitle") 标题
          input.form-control(
            type="text"
            id="postTitle"
            name='title'
            maxlength='20'
          )
        .input-group.mb-3
          label.input-group-text(for="postText") 正文
          textarea.form-control(
            name="content"
            id="postText"
            wrap='hard'
          )
        div(class='d-flex justify-content-end my-2')
          div(class='btn-group')
            button(
              type="reset"
              class="btn btn-outline-primary"
            ) 清空
            button(
              type="submit"
              class="btn btn-outline-primary"
            ) 发帖
      script.
        $('button[type="submit"]').on('click', async e => {
          e.preventDefault()

          let postInfo = {
            title: $('#postTitle').val().slice(0, 20),
            content: $('#postText').val()
          }

          await fetch('/post', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: $('form').serialize()
          })

          location.href = '/'
        })

  if showPosts.length
    .my-3
      h3.text-center.my-2 最近帖子
      .list-group.active.overflow-auto
        for post in showPosts
          a.list-group-item.list-group-item-action(
            href=`/post/${post.id}`
            tabindex='-1'
          )
            .d-flex.w-100.justify-content-between
              h5.mb-1=post.title
              small=post.createDate
            small @ #{post.author}
