extend layout.pug


block body
  if loginUser
    div.my-3
      h3.text-center.my-2 发布帖子
      form(action="/post", method="post")
        .form-group
          label(for="postTitle") 标题
          input(
            type="text"
            class="form-control"
            id="postTitle"
            name='title'
            maxlength='20'
          )
        .form-group
          label(for="postText") 正文
          textarea.form-control(
            name="content"
            id="postText"
            wrap='hard'
          )
        div(class='d-flex justify-content-end my-2')
          div(class='btn-group')
            button(
              type="reset"
              class="btn btn-outline-primary"
            ) 清空
            button(
              type="submit"
              class="btn btn-outline-primary"
            ) 发帖

  if showPosts.length
    div.my-3
      h3(class='text-center my-2') 最近帖子
      div(class='list-group active overflow-auto')
        for post in showPosts
          a(
            href=`/post/${post.id}`,
            class='list-group-item list-group-item-action'
          )
            div(class='d-flex w-100 justify-content-between')
              h5(class='mb-1')=post.author
              small=post.createDate
            small=post.title
