extend layout.pug


block body
  if loginUser
    div(class='mt-3')
      h3(class='text-center my-2') 发布帖子
      form(
        action="/post",
        method="post",
        class='mx-2'
      )
        div(class="form-group")
          label(for="postTitle") 标题
          input(
            type="text",
            class="form-control",
            id="postTitle",
            name='title'
          )
        div(class="form-group")
          label(for="postText") 正文
          textarea(
            name="text",
            class="form-control",
            id="postText",
            maxlength='400',
            style='resize: none; height: 120px',
          )
        div(class='d-flex justify-content-around my-2')
          button(
            type="reset"
            class="btn btn-sm btn-outline-primary"
          ) 清空
          button(
            type="submit"
            class="btn btn-sm btn-outline-primary"
          ) 发帖

  if posts.length
    div(class='overflow-auto mt-3')
      h3(class='text-center my-2') 所有帖子
      div(class='list-group active')
        for post in posts.slice().reverse()
          a(
            href=`/post/${post.id}`,
            class='list-group-item list-group-item-action'
          )
            div(class='d-flex w-100 justify-content-between')
              h5(class='mb-1')=post.author
              small=post.date
            small=post.title

