extend layout.pug


block body
  if loginUser
    div.my-3
      h3.text-center.my-2 发帖
      form(action="/post", method="post")
        .input-group.mb-3
          label.input-group-text(for="postTitle") 标题
          input.form-control(
            type="text"
            id="postTitle"
            name='title'
            maxlength='20'
          )
        .input-group.mb-3
          label.input-group-text(for="postText") 正文
          textarea.form-control(
            name="content"
            id="postText"
            wrap='hard'
          )
        div.d-flex.justify-content-end.my-2
          div.btn-group
            button.btn.btn-outline-primary(
              type="reset"
            ) 清空
            button.btn.btn-outline-primary(
              type="submit"
            ) 发布
      script.
        $('button[type="submit"]').on('click', async e => {
          e.preventDefault()

          const postInfo = {
            title: $('#postTitle').val().slice(0, 20),
            content: $('#postText').val()
          }

          await fetch('/post', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: $('form').serialize()
          })

          location.href = '/'
        })

  if showPosts.length
    .my-3
      h3.text-center.my-2 最近帖子
      .list-group.active.overflow-auto
        for post in showPosts
          a.list-group-item.list-group-item-action(
            href=`/post/${post.id}`
          )
            .d-flex.w-100.justify-content-between
              img.avatar-mini.rounded.me-2(
                src=`/${
                  showPostsAuthor[post.author].avatarLink ||
                  './avatar-null.jpg'
                }`
              )
              span.flex-fill @ #{post.author}
              span=post.createDate
            h5.my-2.flex-fill=post.title
