extend layout.pug


block body
  h3.text-center.my-2 登录
  form(action=`/login?back=${back}`, method="post")
    .form-list
      label(for="postUsername") 用户名
      input.form-control(
        type="text"
        id="postUsername"
        name='username'
      )
    .form-list
      label(for="postPassword") 密码
      input.form-control(
        type="password"
        id='postPassword'
        name="password"
      )
    .form-list
      label(for="postCapacha") 验证码
      input.flex-grow-1.form-control(
        type="text"
        id='postCapacha'
        name="capacha"
        maxlength='4'
      )

    div.d-flex.justify-content-between.my-2
      img.btn-group.rounded.border.border-1(
        src='/captcha'
      )
      div.btn-group
        button.btn.btn-outline-primary(
          type="reset"
        ) 清空
        button.btn.btn-outline-primary(
          type="submit"
        ) 登录
