extend layout.pug


block body
  if post
    div.post.my-3
      h3.text-center.my-2=post.title
      div.d-flex.justify-content-between
        a.user(href=`/user/${post.author}`)=post.author
        span=post.createDate
      div.my-2
        if loginUser && loginUser.username == post.author
          button.btn.btn-outline-primary.float-end(
            class='deletePost'
            data-post-id=post.id
          ) 删除
          script.
            $('.deletePost').on('click', async e => {
              let postID = e.target.dataset.postId
              if (confirm('确认删除吗？（该操作不可撤回！）')) {
                await fetch(`/post/${postID}`, {
                  method: 'delete'
                })

                location.href = '/'
              }
            })
        p=post.content

    if loginUser
      div(class='comment-list')
        if thisComments.length
          h3.text-center.my-2 全部评论
          div.list-group-active
          for comment in thisComments
            div.list-group-item.list-group-item-action
              div(class='d-flex w-100 justify-content-between')
                a.mb-1(
                  href=`/user/${post.author}`
                )=comment.author
                small=comment.createDate
              .d-flex.justify-content-between.my-2
                span=comment.content
                if loginUser.username == comment.author
                  button.btn.btn-outline-primary(
                    class='deleteComment'
                    data-comment-id=comment.id
                  ) 删除
          script.
            $('.deleteComment').on('click', async e => {
              let commentID = e.target.dataset.commentId
              if (confirm('确认删除吗？（该操作不可撤回！）')) {
                await fetch(`/comment/${commentID}`, {
                  method: 'delete'
                })

                location.href = '/post/#{post.id}'
              }
            })

      div(class='add-comment')
        h3.text-center.my-2 评论帖子
        form(action=`/comment/${post.id}`, method="post")
          .form-group
            textarea.form-control(
              name      = "content"
              maxlength = '200'
              wrap      = 'hard'
            )
          div(class='d-flex justify-content-end my-2')
            .btn-group
              button(
                type  = "reset"
                class = "btn btn-outline-primary"
              ) 清空
              button(
                type  = "submit"
                class = "btn btn-outline-primary"
              ) 评论
    else
      h3.text-center.my-2 请#[a(href='/login') 登录]后 查看/发表 评论

