extend layout.pug


block body
  if post
    .d-flex.border
      .d-flex.flex-column.ps-2
        img.avatar-big.d-block.rounded.my-2(
          src=`/${
            author.avatarLink || './avatar-null.jpg'
          }`
        )
        a(href=`/user/${post.author}`) @#{post.author}
      .px-3.flex-fill.d-flex.flex-column
        span.fs-2=post.title
        .my-2.px-3.d-flex.justify-content-end.text-nowrap
          //- 删除按钮
          if loginUser && loginUser.username === post.author
            a.deletePost.mx-2(
              href='#' data-post-id=post.id
            ) 删除
            script.
              $('.deletePost').on('click', async e => {
                const postID = e.target.dataset.postId
                if (confirm('确认删除该帖？（该操作不可撤回！）')) {
                  await fetch(`/post/${postID}`, {
                    method: 'delete'
                  })

                  location.href = '/'
                }
              })
          span.text-end 发布时间：#{post.createDate}
        p.mt-2.flex-fill.text-break=post.content

    if loginUser
      if thisComments.length
        for comment in thisComments
          .d-flex.border
            .d-flex.flex-column.ps-2
              img.avatar-big.d-block.rounded.my-2(
                src=`/${
                  thisCommentsAuthors[comment.author].avatarLink ||
                  './public/avatar-null.jpg'
                }`
              )
              a(href=`/user/${comment.author}`) @#{comment.author}
            .px-3.flex-fill.d-flex.flex-column
              .my-2.px-3.d-flex.justify-content-end
                //- 删除按钮
                if loginUser.username === comment.author
                  a.deleteComment.mx-2(
                    href='#' data-comment-id=comment.id
                  ) 删除
                  script.
                    $('.deleteComment').on('click', async e => {
                      const commentID = e.target.dataset.commentId
                      if (confirm('确认删除该评论？（该操作不可撤回！）')) {
                        await fetch(`/comment/${commentID}`, {
                          method: 'delete'
                        })

                        location.href = '/post/#{post.id}'
                      }
                    })
                span.text-end 发布时间：#{comment.createDate}
              p.mt-2.flex-fill.text-break=comment.content

      .d-flex.border
        img.avatar-big.d-block.rounded.m-2(
          src=`/${
            loginUser.avatarLink || './public/avatar-null.jpg'
          }`
        )
        .px-3.flex-fill.d-flex.flex-column
          form(action=`/comment/${post.id}`, method="post")
            .d-flex.justify-content-between.my-2
              span.fs-2 评论帖子
              .btn-group
                button.btn.btn-outline-primary(type="reset") 清空
                button.btn.btn-outline-primary(type="submit") 评论
            textarea.form-control(
              name = "content"
              wrap = 'hard'
            )
    else
      h3.text-center.my-2 请#[a(href='/login') 登录]后 查看/发表 评论

