extend layout.pug


block body
  if user
    .my-3
      h3.text-center.my-2 设置
      .my-3.d-flex.justify-content-between
        div.d-flex.flex-column
          img.avatar-big.d-block.rounded.img-thumbnail(
            src=`/${
              user.avatarLink || '/assets/img/avatar-null.jpg'
            }`
          )
          form(action='/avatar' method="post" enctype="multipart/form-data")
            input.hidden(type="text", name="username" value=`${user.username}`)
            input(type="file" name="avatar" accept=".jpg, .jpeg, .png, .gif")
            button(type="submit") 上传新头像
        table.table.m-0.table-hover
          tr
            td 用户名:
            td=user.username
          tr
            td 加入时间:
            td=user.joinDate
          tr
            td 邮箱:
            td=user.email
