extend layout.pug


block body
  if user
    .my-3
      h3.text-center.my-2 设置

      .my-3
        table.table.d-inline
          tr
            td 用户名:
            td=user.username
          tr
            td 加入时间:
            td=user.joinDate
          tr
            td 邮箱:
            td=user.email
        if avatar
          img.rounded.img-thumbnail.float-end.mb-5(
            src="", alt="err"
            width=200, height=200
          )
        else
          img.rounded.img-thumbnail.float-end.mb-5(
            src="/assets/image/jay.jpg"
            width=200, height=200
          )


      .input-group.mb-5
        input#inputGroupFile.form-control(
          type='file'
        )
        label.input-group-text.btn.btn-outline-primary(
          for='inputGroupFile'
        ) 上传头像

