extend layout.pug


block body
  if user
    .d-flex.justify-content-end

    if userPosts.length
      div(class='post-list')
        h3.text-center.my-2=user.username
          span.ms-2 发过的帖子
        ul
          each post in userPosts
            a(
              href=`/post/${post.id}`,
              class='list-group-item list-group-item-action'
            )
              div(class='d-flex justify-content-between w-100')
                h5(class='mb-1')=post.title
                small=post.date
              small.text-break=post.text.slice(0, 200) + '...'
    else
      div(class='post-list')
        h3.text-center.my-2 暂未发帖

  else
    div(class='err-user')
      h3.text-center.my-2 用户不存在
